# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
build/
target/
dist/

# Env files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Anchor
test-ledger/

# IDE
.idea/
.vscode/

# Archives
*.zip
